@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Aleo', sans-serif;
}

@media (min-width: 640px) {
    .max-w-custom-blog {
        max-width: 40rem;
    }
}

@media (min-width: 768px) {
    .max-w-custom-blog {
        max-width: 50rem;
    }
}

@media (min-width: 1024px) {
    .max-w-custom-blog {
        max-width: 60rem;
    }
}

@media (max-width: 1000px) {
    .max-w-mobile-card {
        max-width: 20rem;
    }
}

/* Initial state for fade-in */
.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.fade-in-active {
    opacity: 1;
}

/* Fade-out transition */
.fade-out {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.fade-out-active {
    opacity: 0;
}
